@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-error-message: var(--error-message);
  --color-shadow: var(--shadow);
  --color-input: var(--input);
  --color-modal: var(--modal);
  --color-linear: var(--linear);
}

:root {
  --font-primary: 'Josefin Sans', sans-serif;
  --font-cookie: 'Cookie', cursive;
  --background: oklch(97.989% 0.11354 108.347);
  --linear: linear-gradient(45deg, rgb(66, 69, 81), rgb(86, 181, 184), rgb(30, 94, 129));
  --foreground: oklch(29.978% 0.14974 300.291);
  --primary-light: oklch(94.278% 0.0523 92.944);
  --primary-dark: oklch(58.954% 0.05665 162.355);
  --input: oklch(56.34% 0.08578 160.126 / 0.363);
  --modal: oklch(95.579% 0.09195 125.136);
  --error-message: rgb(255, 51, 0);
  --gradient-cold: oklch(77.555% 0.13133 210.047 / 0.726);
  --gradient-hot: oklch(73.628% 0.13417 60.857 / 0.904);
  --gradient-middle: oklch(89.786% 0.21772 140.407 / 0.644);
  --shadow: oklch(35.711% 0.09421 291.594 / 0.829);
}

.dark {
  --background: oklch(21.815% 0.04261 292.974);
  --foreground: oklch(91.32% 0.04845 298.446);
  --primary-light: oklch(43.23% 0.05265 175.619 / 0.8);
  --gradient-cold: oklch(73.9% 0.15155 166.971 / 0.8);
  --gradient-hot: oklch(67.631% 0.21154 24.793 / 0.8);
  --gradient-middle: oklch(69.279% 0.19574 302.059 / 0.7);
}

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    font-family: var(--font-primary);
    background:
      radial-gradient(circle at 40% 10%, rgba(4, 238, 207, 0.795) 0%, transparent 50%),
      radial-gradient(circle at 80% 30%, rgba(90, 1, 255, 0.473) 0%, transparent 50%),
      radial-gradient(circle at -30% 120%, rgba(238, 255, 0, 0.856) 0%, transparent 55%),
      radial-gradient(circle at 90% 150%, rgba(255, 72, 0, 0.856) 0%, transparent 50%),
      radial-gradient(circle at 150% -20%, rgba(0, 102, 255, 0.856) 0%, transparent 50%),
      linear-gradient(
        135deg,
        rgba(18, 22, 104, 0.301) 0%,
        rgba(5, 50, 58, 0.185) 50%,
        rgba(139, 112, 165, 0.356) 100%
      );
    color: var(--foreground);
    min-height: 100vh;
    background-attachment: fixed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes highlight-cell {
  0% {
    color: var(--color-modal)
  }
  100% {
    background-color: transparent;
    box-shadow: none;
  }
}

.highlight-cell {
  animation: highlight-cell 2s ease-in-out;
}

@layer utilities {
  .shadow-glow {
    box-shadow:
      30px 30px 30px -20px var(--gradient-hot),
      -30px -30px 40px -20px var(--gradient-cold),
      30px -30px 40px -20px var(--gradient-middle),
      -30px 50px 50px -10px var(--gradient-middle);
  }

  .shadow-reverse {
    box-shadow:
      30px 30px 20px -20px var(--gradient-cold),
      -20px -25px 20px -20px var(--gradient-hot),
      30px -30px 20px -20px var(--gradient-middle),
      -20px 30px 20px -20px var(--gradient-middle);
  }

  .shadow-inset {
    box-shadow:
      inset 30px 30px 10px -30px var(--gradient-hot),
      inset -30px -30px 15px -30px var(--gradient-cold),
      inset 30px -30px 10px -50px var(--gradient-middle),
      inset -30px 50px 10px -50px var(--gradient-middle);
  }

  .header {
    background-color: var(--background);
  }

  .bg-custom-linear {
    background: var(--linear);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--input);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-dark);
    border-radius: 10px;
  }
}

.custom-button {
  cursor: pointer;
  padding: 4px 16px;
  font-weight: 500;
  border: 3px solid;
  border-color: var(--shadow);
  border-radius: 12px;
  transition: all 0.4s;
  box-shadow: 0px 0px 10px -0px var(--shadow);
}

.custom-button:hover {
  background-color: var(--shadow);
  color: var(--primary-light);
  border-color: var(--shadow);
  scale: 110%;
}

@media (max-width: 640px) {
  .custom-button {
    margin: 4px 0;
    padding: 0 16px;
  }
}

.blur-edges {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  ),
  linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.dynamic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(150px, 1fr));
  grid-auto-columns: minmax(150px, 1fr);
  grid-auto-flow: column; 
  gap: 1rem;
  width: max-content;
}